# postgres
POSTGRES_DB=gh_raw_db
SCHEMA=gh_raw_schema
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
PORT=5432
POSTGRES_HOST=upstreamdb

# minio
S3_LOCATION=s3a://lakehouse/iceberg

# airflow
AIRFLOW_HOME=/opt/airflow

# spark
SPARK_HOME=/opt/spark

# python
PYTHONPATH=/opt/airflow:/opt/airflow/dags:/opt/airflow/utils:/opt/airflow/kafka_consumer:/opt/airflow/kafka_producer

# kafka
BOOTSTRAP_SERVER=kafka:29092

# dbt
DBT_CWD=${AIRFLOW_HOME}/dags/dbt/gh_app
DBT_SCHEMA=bronze

# github
GITHUB_PAT=