# boto3==1.34.104
dbt-trino==1.8.0
# psycopg2
psycopg2-binary==2.9.9
python-dotenv==1.0.1
confluent-kafka==2.4.0
pypistats==1.6.0
# apache-airflow-providers-apache-spark==4.8.1
apache-airflow-providers-ssh==3.11.1